.main{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #ffffff;
  height: calc(100%);
}

.input_form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e2e0e0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}


input[type=file]::file-selector-button {
  border: 2px solid #bdbdc0;
  padding: 5px;
  border-radius: .2em;
  background-color: #f7f7fc;
  transition: 1s;
  margin-bottom: 1rem;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
.error{
  border:1px solid red;
  color: #f10b0b;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.output{
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b7beb7;
  padding: 1px;
}